/* --------------------------------------------- */
/* Filename: footer.css                          */
/* Student Name: Sai Hung, Chau                  */
/* Student ID: 301273830                         */
/* Date: 4 Feb 2023                              */
/* Section: Footer                               */
/* --------------------------------------------- */

/* Set the footer style */
footer {
    /* margin-top: 60px; */
    color: #333;
    font-family: 'Share Tech Mono', monospace;
}
footer nav.navbar {
    position: initial;
    height: 70px;
    border-top: 5px solid #333;
    border-bottom: 0px;
}
footer nav.navbar .navbar-text {
    font-size: 20px;
    color: #333;
}