<!-- Footer section -->
<footer>
    <nav class="navbar fixed-bottom navbar">
        <div class="container-fluid justify-content-center">
            <div class="navbar-text">&copy;<%=new Date().getFullYear()%> All right reserved.</div>
        </div>
      </nav>
</footer>

<!-- Javascript import -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/projects.js"></script>
<script src="/scripts/contact.js"></script>
