<nav class="navbar navbar-expand-lg navbar">
    <div class="container-fluid">
        <a class="navbar-brand col-1" href="/">
            <img src="/assets/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-10" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%if (slug == 'home') { %>active<% } %>" aria-current="page" href="home"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%if (slug == 'about') { %>active<% } %>" aria-current="page" href="about"><i class="fa fa-address-card"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%if (slug == 'services') { %>active<% } %>" aria-current="page" href="services"><i class="fa-solid fa-face-smile"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%if (slug == 'projects') { %>active<% } %>" aria-current="page" href="projects"><i class="fa-solid fa-book"></i> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%if (slug == 'contact') { %>active<% } %>" aria-current="page" href="contact"><i class="fa-solid fa-phone"></i> Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
