<!-- Service page section -->
<div>
    <!-- Services page description -->
    <div class="services-intro">
        I listed out some services that I mainly provide in the following. Please feel free to reach me on the Contact page if you are looking for someone who provides the following services.
    </div>
    <!-- Services List -->
    <div class="services-div d-flex flex-wrap align-items-center justify-content-start text-center">
        <div class="service col-4 d-flex flex-wrap align-items-center justify-content-center">
            PHP
            <img src="/assets/images/php_logo.png" alt="">
        </div>
        <div class="service col-4 d-flex flex-wrap align-items-center justify-content-center">
            Laravel
            <img src="/assets/images/laravel_logo.png" alt="">
        </div>
        <div class="service col-4 d-flex flex-wrap align-items-center justify-content-center">
            Sass
            <img src="/assets/images/sass_logo.png" alt="">
        </div>
        <div class="service col-4 d-flex flex-wrap align-items-center justify-content-center">
            Javascript
            <img src="/assets/images/javascript_logo.png" alt="">
        </div>
        <div class="service col-4 d-flex flex-wrap align-items-center justify-content-center">
            C#
            <img src="/assets/images/c_logo.png" alt="">
        </div>
        <div class="service col-4 d-flex flex-wrap align-items-center justify-content-center">
            JSP
            <img src="/assets/images/jsp_logo.png" alt="">
        </div>
    </table>
</div>