<!-- Partial element of business contact -->
<div class="row d-flex align-items-center flex-column">
    <div class="col-md-6 form-add-business-contact-wrapper">
        <!-- Add form of business contact -->
        <form class="form form-add-business-contact" method="POST">
            <div class="form-group">
                <label for="contactNameTextField">Contact Name</label>
                <input type="text" class="form-control" id="contactNameTextField" name="contact_name" placeholder="Enter the Contact Name" required>
            </div>
            <div class="form-group">
                <label for="contactNumberTextField">Contact Number</label>
                <input type="text" class="form-control" id="contactNumberTextField" name="contact_number" placeholder="Enter the Contact Number" required>
            </div>
            <div class="form-group">
                <label for="contactEmailTextField">Contact Email</label>
                <input type="text" class="form-control" id="contactEmailTextField" name="contact_email" placeholder="Enter the Contact Email" required>
            </div>
            <div class="form-add-business-contact-action-wrapper d-flex align-items-center justify-content-between">
                <button class="" type="submit"><i class="fas fa-edit"></i>&nbsp;Submit</button>
                <a href="/business_contacts" class="d-flex align-items-center justify-content-center"><i class="fas fa-undo"></i>&nbsp;Cancel</a>
            </div>
        </form>
    </div>
</div>