/* --------------------------------------------- */
/* Filename: about.css                           */
/* Student Name: Sai Hung, Chau                  */
/* Student ID: 301273830                         */
/* Date: 4 Feb 2023                              */
/* Section: About                                */
/* --------------------------------------------- */

/* Set the style of the About page */
.person-photo-wrapper {
    padding: 20px 20px;
}
.person-photo-wrapper img {
    width: 220px;
    box-shadow: 7px 7px 10px #888888;
}
.person-info-wrapper {
    padding: 20px 20px;
}
.person-info-wrapper .person-info-name {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.person-info-wrapper .person-info-self-desc {
    line-height: 38px;
    margin-bottom: 40px;
}
.person-info-wrapper .person-info-resume a {
    font-family: 'Share Tech Mono', monospace;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 15px;
}