/* --------------------------------------------- */
/* Filename: project.css                         */
/* Student Name: Sai Hung, Chau                  */
/* Student ID: 301273830                         */
/* Date: 4 Feb 2023                              */
/* Section: Projects                             */
/* --------------------------------------------- */

/* Set the Projects page style */
.projects-intro {
    padding: 20px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 28px;
}
.projects-table {
    border-top: 5px solid #333;
}
.projects-table > .project {
    height: 350px;
    border-bottom: 5px solid #333;
    border-right: 5px solid #333;
    overflow: hidden;
}
.projects-table > .project:nth-child(3n) {
    border-right: 0px;
}
.projects-table > .project > a[id^="btn-modal"] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;

    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects-table > .project > a[id^="btn-modal"] img {
    width: 100%;
}
.projects-table > .project > a[id^="btn-modal"] .project-name {
    display: none;
    width: 100%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    background-color: rgba(3, 3, 3, 0.7);
    padding: 15px;
}
.projects-table > .project > a[id^="btn-modal"]:hover .project-name {
    display: block;
}

/* Set the style of the modals in Projects page */
.modal .modal-dialog .modal-content {
    border-radius: 0px;
    border: 5px solid #333;
}
.modal .modal-dialog .modal-content .modal-header {
    border-radius: 0px;
    border-bottom: 5px solid #333;
}
.modal .modal-dialog .modal-content .modal-header .close {
    border: 0px;
    background-color: transparent;
}
.modal .modal-dialog .modal-content .modal-header .close i {
    font-size: 30px;
}
.modal .modal-dialog .modal-content .modal-body {
    padding: 0px;
}
.modal .modal-dialog .modal-content .modal-body .project-intro {
    font-size: 20px;
    padding: 20px;
    border-bottom: 5px solid #333;
}
.modal .modal-dialog .modal-content .modal-body .project-intro a {
    display: block;
    margin-top: 20px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-decoration: underline;
}
.modal .modal-dialog .modal-content .modal-body .project-image {
    padding: 20px;
}
.modal .modal-dialog .modal-content .modal-body .project-image img {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 7px 7px 10px #888888;
}