<div>
    <div class="person-photo-wrapper">
        <img src="/assets/images/person_photo.png" alt="">
    </div>
    <div class="person-info-wrapper">
        <div class="person-info-name">Sai Hung, Chau Cyrus</div>
        <div class="person-info-self-desc">
            Hi there, I am Sai Hung, Chau, you can call me Cyrus as well. I am a software developer, I usually develop Windows software applications and websites, but most of them are website projects. In most of my projects, I mainly use PHP, SASS, and JS to develop, and Laravel has been used as the framework of the websites. In my other projects, I used React as the layout framework of the projects. I also have web system development experience using JSP. For the other languages, I used C# language for developing Windows automatic applications and Windows applications with the user interface. If you want to know more about my work, please go to the <a href="projects">Projects</a> page.
        </div>
        <div class="person-info-resume">
            <a href="/assets/files/Sai Hung, Chau CV.pdf" target="_blank">See more in my resume</a>
        </div>
    </div>
</div>