<div class="home-intro">
    I have been a software developer for 7 years already. I was always staying in my own comfort zone, but it is different in 2023, I tried to get out and started to learn some new stuff. Now I am studying for an AI learning diploma which I never learned about AI before. And I also started to learn some UIUX stuff from my designer friends. I hope I can use this stuff someday for developing some interesting systems or software.
</div>
<div class="home-table d-flex flex-wrap col-12">
    <div class="home-table-cell col-6 home-nav-text">
        <div>
            If you want to know more about me, please go to the About page.
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="home-table-cell col-6 home-nav-link text-white">
        <a href="about">
            <i class="fa fa-address-card"></i>About
        </a>
    </div>
    <div class="home-table-cell col-6 home-nav-link text-white">
        <a href="services">
            <i class="fa-solid fa-face-smile"></i>Services
        </a>
    </div>
    <div class="home-table-cell col-6 home-nav-text">
        <div>
            If you want to know what services I provide, please go to the Services page.
            <i class="fa-sharp fa-solid fa-arrow-left"></i>
        </div>
    </div>
    <div class="home-table-cell col-6 home-nav-text">
        <div>
            If you want to see what project I worked on before, please go to the Projects page.
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="home-table-cell col-6 home-nav-link text-white">
        <a href="projects">
            <i class="fa-solid fa-book"></i>Projects
        </a>
    </div>
    <div class="home-table-cell col-6 home-nav-link text-white">
        <a href="contact">
            <i class="fa-solid fa-phone"></i>Contact
        </a>
    </div>
    <div class="home-table-cell col-6 home-nav-text">
        <div>
            If you looking for someone for helping with programming, please go to the Contact page to contact me.
            <i class="fa-sharp fa-solid fa-arrow-left"></i>
        </div>
    </div>
        <!-- <tr>
            <td class="home-table-cell col-6">1</td>
            <td class="home-table-cell col-6">2</td>
        </tr>
        <tr>
            <td class="home-table-cell col-6">4</td>
            <td class="home-table-cell col-6">5</td>
        </tr>
        <tr>
            <td class="home-table-cell col-6">1</td>
            <td class="home-table-cell col-6">2</td>
        </tr>
        <tr>
            <td class="home-table-cell col-6">4</td>
            <td class="home-table-cell col-6">5</td>
        </tr>
    </tbody> -->
</div>