/* --------------------------------------------- */
/* Filename: global.css                          */
/* Student Name: Sai Hung, Chau                  */
/* Student ID: 301273830                         */
/* Date: 4 Feb 2023                              */
/* --------------------------------------------- */

/* Set the font style globally */
* {
    font-family: monospace;
    font-size: 18px;
}

/* Disable some statis style of a tag */
a, 
a:active, 
a:hover, 
a:visited, 
a:focus, 
a:focus-visible, 
a:focus-within {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

/* Set font style for all h tag */
html > body h1,
html > body h2,
html > body h3,
html > body h4,
html > body h5,
html > body h6 {
    font-family: 'Share Tech Mono', monospace;
}

/* Set a global for the main element */
body > main {
    /* min-height: calc(100vh - 90px - 70px - 60px); */
    min-height: calc(100vh - 90px - 70px);
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    padding-bottom: 60px;
}

body > main.container {
    padding-left: 0px;
    padding-right: 0px;
}

body > main.container > .jumbotron {
    padding: 20px;
    border-bottom: 5px solid #333;
}

body main .alert {
    border-radius: 0px;
    box-shadow: 7px 7px 10px #888888;
}