<div class="">
    <!-- message Area -->
    <% if (message.length>0){%>
    <div class="alert alert-danger">
        <%=message%>
    </div>
    <% } %>
    <div class="row">
        <div class="0ffert md-4 col-md-4">
            <h1>PLease</h1>
            <form method="POST" autocomplete="">
                <fieldset class="form-group">
                    <label for="username">username</label>
                    <input type="text" class="form-control" name="username" name="idå" placeholder="enter member">
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" name="password" name="idå" placeholder="enter member">
                    <a href="/register"> Register here</a>
                </fieldset>
                <fieldset class=" form-gropu text-right">
                    <input type="submit">
                    <input type="submit" class="btn btn-success">
                    <a href="inout" ></a>
                </fieldset>
            </form>
        </div>
    </div>
        
</div>